.testStyle {
  color: sandybrown;
}

.nav > nav > ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.popup {
  position: fixed;
  bottom: 20px;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: salmon;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;

  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

.border {
  border: 2px solid white;
  padding: 20px;
}
